dist: Trusty
language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
before_install:
  - sudo add-apt-repository -y ppa:kirillshkrogalev/ffmpeg-next
  - sudo apt-get -y update
  - sudo apt-get install -y ffmpeg
  - mkdir media
install:
  - pip install coveralls
  - pip install pytest-cov
  - python setup.py install
# command to run tests
before_script:
  - py.test tests/ --cov
script: py.test tests/ --doctest-modules -v --cov moviepy --cov-report term-missing
after_success:
  - coveralls
